In [4]:
student_id = {

              4617: "Mitul",
              4835: "Sanjida",
              5606: "Piash",
              5886: "Alvi",
}

print(student_id)
print(student_id[4617])
print(student_id[5606])

{4617: 'Mitul', 4835: 'Sanjida', 5606: 'Piash', 5886: 'Alvi'}
Mitul
Piash

In [3]:
student_id = {

              4617: "Mitul",
              4835: "Sanjida",
              5606: "Piash",
              5886: "Alvi",
}


print(student_id.get(4617))
print(student_id.get(4835))


student_id[4617]="Hasin" #repalce key value
print(student_id.get(4617))


print(student_id.get(4685))
print(student_id.get(4620,  "ID not found"))

Mitul
Sanjida
Hasin
None
ID not found

In [12]:
student_id = {
             4617 : "Mitul",
             4835 : "Sanjida",
             5606 : "Piash",
             5886 : "Alvi",
            }

print(student_id.items())
print("\n")
print(student_id.keys())
print(student_id.values())

dict_items([(4617, 'Mitul'), (4835, 'Sanjida'), (5606, 'Piash'), (5886, 'Alvi')])


dict_keys([4617, 4835, 5606, 5886])
dict_values(['Mitul', 'Sanjida', 'Piash', 'Alvi'])

In [25]:
student_id = {
              4617 : "Mitul",
              4835 : "Sanjida",
              5606 : "Piash",
              5886 : "Alvi"
}

for i, j in student_id.items():
  print(f"{i} is the id of {j}")

4617 is the id of Mitul
4835 is the id of Sanjida
5606 is the id of Piash
5886 is the id of Alvi

In [ ]:

student_id= {
     "mitul" : "4617",
     "smriti": "4835",
     "rohid" : "5076",
     "piash" : "5606",
     "alvi"  : "5886"
}

while 1:
 inp = str(input("Enter name to find student ID: "))
 print(student_id.get(inp,"Person Not found"))

Enter name to find student ID: mitul
4617
Enter name to find student ID: 4835
Person Not found