In [ ]:
set1 = {1, 2, 3 , 4, 4, 4}  #set don't allow duplicate value
set2 = set([4, 5, 6, 7])    #convert array (list) into set

print(set1)
print(set2)

{1, 2, 3, 4}
{4, 5, 6, 7}

In [ ]:
#Add, Remove function of Set

set3 = {5, 6, 7}
set4 = {1, 2, 4, 5, 3}


set3.add(8)
set4.remove(1)

print(set3)
print(set4)

{8, 5, 6, 7}
{2, 3, 4, 5}

In [ ]:
#In, Not in function of set

set5 = {5, 6, 7, 3}
set6 = {1, 2, 4, 5}

print(5 in set5)
print(4 in set5)


print(5 not in set5)
print(4 not in set5)

True
False
False
True

In [ ]:
#Union, intersection of set

set7 = {4, 6, 7, 3}
set8 = {1, 3, 4, 5}

print(set7 | set8)
print(set7 & set8)
print(set7 - set8)
print(set8 - set7)
print(set7 == set8)

{1, 3, 4, 5, 6, 7}
{3, 4}
{6, 7}
{1, 5}

In [8]:
#convert list to set
list1={1,2,5,4,8,9}
convert= set(list1)
print(convert)

list2= [3,6,9,5,9]
print(set(list2))

{1, 2, 4, 5, 8, 9}
{9, 3, 5, 6}